<a href="https://colab.research.google.com/github/karimahagstn/latihan_1/blob/main/basis%20data%20task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('individual_task.db')
cursor = conn.cursor()

In [3]:
# Tabel students
cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER NOT NULL,
    grade TEXT NOT NULL
);
""")

# Tabel courses
cursor.execute("""
CREATE TABLE IF NOT EXISTS courses (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    course_name TEXT NOT NULL,
    instructor TEXT NOT NULL
);
""")

# Tabel enrollments
cursor.execute("""
CREATE TABLE IF NOT EXISTS enrollments (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    student_id INTEGER NOT NULL,
    course_id INTEGER NOT NULL,
    FOREIGN KEY (student_id) REFERENCES students(id),
    FOREIGN KEY (course_id) REFERENCES courses(id)
);
""")

In [4]:
# Data untuk tabel students
students_data = [
    ('Alice', 20, 'A'),
    ('Bob', 22, 'B'),
    ('Charlie', 21, 'A'),
    ('Diana', 23, 'C'),
    ('Ethan', 20, 'B')
]
cursor.executemany("INSERT INTO students (name, age, grade) VALUES (?, ?, ?);", students_data)

# Data untuk tabel courses
courses_data = [
    ('Mathematics', 'Dr. Smith'),
    ('Physics', 'Dr. Brown'),
    ('Chemistry', 'Dr. Green'),
    ('Biology', 'Dr. White'),
    ('History', 'Dr. Black')
]
cursor.executemany("INSERT INTO courses (course_name, instructor) VALUES (?, ?);", courses_data)

# Data untuk tabel enrollments
enrollments_data = [
    (1, 1),
    (2, 2),
    (3, 3),
    (4, 4),
    (5, 5)
]
cursor.executemany("INSERT INTO enrollments (student_id, course_id) VALUES (?, ?);", enrollments_data)

conn.commit()

In [5]:
cursor.execute("UPDATE students SET grade = 'A+' WHERE name = 'Bob';")
conn.commit()

In [6]:
cursor.execute("REPLACE INTO students (id, name, age, grade) VALUES (3, 'Charlie', 21, 'A+');")
conn.commit()

In [7]:
cursor.execute("DELETE FROM enrollments;")
conn.commit()

In [8]:
tables = ["students", "courses", "enrollments"]
dataframes = {table: pd.read_sql_query(f"SELECT * FROM {table};", conn) for table in tables}

# Simpan ke file Excel
dataframes['students'].to_csv('students.csv', index=False)
dataframes['courses'].to_csv('courses.csv', index=False)
dataframes['enrollments'].to_csv('enrollments.csv', index=False)

In [9]:
# Menampilkan data tabel students
pd.read_sql_query("SELECT * FROM students;", conn)

   id     name  age grade
0   1    Alice   20     A
1   2      Bob   22    A+
2   3  Charlie   21    A+
3   4    Diana   23     C
4   5    Ethan   20     B