<a href="https://colab.research.google.com/github/karimahagstn/latihan_1/blob/main/clean_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName ("DataCleaningExample" ).getOrCreate ()

In [ ]:
df = spark.read.csv('/content/datasetcleaning/data_transaksi.csv', header=True, inferSchema=True)
df.show()

+----------+--------------------+-----+----------+-----------------+----------+---------------+
|      Nama|               Email| Umur|Pendapatan|Tanggal Pembelian|    Produk|Nilai Transaksi|
+----------+--------------------+-----+----------+-----------------+----------+---------------+
|   Anthony|   dawnday@gmail.com| 24.0|   3553265|       01/13/1974|    Laptop|        2736049|
|    Robert|    pbrown@gmail.com| NULL|   5525753|       03-05-2004|    Tablet|        4996241|
|   Melissa| ethan99@clayton.com| NULL|   4911936|       28-04-1970|  Handpone|        3169456|
|   Timothy|johnsonmegan@gmai...|200.0|3140485039|       03/09/2003|    Laptop|         506622|
|     Kelly|keithwebster(at)e...|200.0|3833611071|       17-01-2022|   Tablett|        9969204|
|     Jared| qwiggins@hodges.com| 69.0|   8024480|       02-01-2005|   Tablett|        3093351|
|    Nicole|ogonzalez@hotmail...|200.0|4286346096|       08-01-2024| Handphone|        3007158|
|     Mason|lisasmith@hotmail...| NULL|   9858877|       10/12/1994|Smartwatch|        4734266|
|    Pamela|megancosta@yahoo.com| 39.0|4743642660|       16-08-2011|    Laptop|        8043250|
|     Chloe|kelligonzalez@hot...| NULL|3214144288|       10-02-2008| Smartwach|        7845719|
|    Jeanne|    elewis@gmail.com|200.0|1343883642|       17-06-2004| Handphone|        8598980|
|      Lisa|baileyvickie@hotm...| NULL|   3359174|       08/17/1993| Headphone|        3423186|
|      Jose|lindseycollins(at...|200.0|4718948795|       07/07/2021|Smartwatch|        6713101|
|Jacqueline|brianwilliams@yah...| NULL|   6815157|       07/15/2000|Headphonee|        1927889|
|   Raymond|santiagoscott(at)...|200.0|2866365700|       07/18/1993|Smartwatch|        6530558|
|    Walter|chapmanalexander@...| NULL|   7890477|       26-02-2011|    Laptop|        4336671|
|      Gail|    nshort@yahoo.com| NULL|   7061317|       15-07-1972| Headphone|        8679926|
|   Monique|   hthomas@moore.com|200.0|   5478040|       06/22/1994|    Laptop|        8598229|
|      Anna| timothy21@gmail.com|200.0|   5214212|       08-12-2013|   Tablett|        7335193|
|      Tara| amanda77@stuart.com| 37.0|3417336527|       22-10-1989| Headphone|        6370142|
+----------+--------------------+-----+----------+-----------------+----------+---------------+
only showing top 20 rows

In [ ]:
df.printSchema ()
df.describe ( ).show ()
df.columns

root
 |-- Nama: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Umur: double (nullable = true)
 |-- Pendapatan: long (nullable = true)
 |-- Tanggal Pembelian: string (nullable = true)
 |-- Produk: string (nullable = true)
 |-- Nilai Transaksi: integer (nullable = true)

+-------+------+-------------------+------------------+--------------------+-----------------+---------+------------------+
|summary|  Nama|              Email|              Umur|          Pendapatan|Tanggal Pembelian|   Produk|   Nilai Transaksi|
+-------+------+-------------------+------------------+--------------------+-----------------+---------+------------------+
|  count|   100|                100|                68|                 100|              100|      100|               100|
|   mean|  NULL|               NULL|111.86764705882354|     1.65132351882E9|             NULL|     NULL|        5556026.09|
| stddev|  NULL|               NULL| 77.42110175763524|1.8103144429023266E9|             NULL|     NULL|2594395.9001886775|
|    min| Aaron|allison19@yahoo.com|              19.0|             3052819|       01-12-2023|Handphone|            506622|
|    max|Walter|  ztodd@hotmail.com|             200.0|          4974434132|       31-12-1972|  Tablett|           9969204|
+-------+------+-------------------+------------------+--------------------+-----------------+---------+------------------+

['Nama',
 'Email',
 'Umur',
 'Pendapatan',
 'Tanggal Pembelian',
 'Produk',
 'Nilai Transaksi']

In [ ]:
df_clean = df.dropDuplicates ()

In [ ]:
df_clean = df_clean.na.drop(subset=["nama"])

In [26]:
df_clean = df_clean.fillna({'Produk': 'Unknown'})

In [27]:
from pyspark.sql.functions import lower
df_clean = df_clean.withColumn ('Nama', lower(df_clean['nama'])) # Removed the space in "df_ clean"

In [29]:
from pyspark.sql.functions import col
df_clean = df_clean.withColumn("Umur", col("Umur").cast("int"))

In [32]:
df = spark.read.csv('/content/datasetcleaning/data_transaksi.csv', header=True, inferSchema=True)
df = df.dropDuplicates()
df = df.na.drop(subset=["nama"])
df = df.fillna({'Produk': 'Unknown'})
df = df.withColumn('Umur', col('Umur').cast('int'))
df.show()

+--------+--------------------+----+----------+-----------------+----------+---------------+
|    Nama|               Email|Umur|Pendapatan|Tanggal Pembelian|    Produk|Nilai Transaksi|
+--------+--------------------+----+----------+-----------------+----------+---------------+
| Timothy|johnsonmegan@gmai...| 200|3140485039|       03/09/2003|    Laptop|         506622|
|    Mike|owensrobert@hotma...|  59|3741985672|       11/28/2004|    Laptop|        7711290|
|Madeline|martinezmario@gma...| 200|3200189219|       12/05/1979|Smartwatch|        1908029|
| Raymond|santiagoscott(at)...| 200|2866365700|       07/18/1993|Smartwatch|        6530558|
|Benjamin|brittanygreen@mar...| 200|4075982395|       17-02-1982|    Tablet|        9067792|
|  Leslie|maysannette@gmail...| 200|   8372468|       09/13/1981|Smartwatch|        4957082|
| Cynthia|lonnieandrews@cis...|  49|   5139026|       02/10/2000|   Tablett|        2393089|
|  Debbie| allison19@yahoo.com|  41|4974434132|       24-04-1982|Headphonee|        7488725|
|  Rachel|jjenkins@osborne....|  66|   6422484|       02-08-1993| Smartwach|        5974942|
|    Sean|ronald86(at)email...|  43|   7309258|       09/21/2020|    Laptop|        6997815|
|  Amanda|melissa50@hotmail...|  45|   4765981|       13-06-2014|Smartwatch|        2110772|
|  Robert| jason16@hotmail.com|  31|   6167831|       05/31/1972| Handphone|        4166003|
|     Roy|    psmith@gmail.com| 200|   7372475|       02/10/1994|Headphonee|         808089|
|   James|angela86@hernande...|  21|1750047896|       07/07/1970|    Laptop|        8695785|
|   April|danny11@ruiz-mart...| 200|4947285884|       08/31/1978|  Handpone|        6617945|
|  Robert|hinessamantha@gma...| 200|4906271009|       21-12-2000| Handphone|        3938680|
|   Aaron|scottjacqueline@l...|  49|3087774620|       08/20/1983|    Laptop|        6703858|
|  Sydney|thomaskrause@mart...|  24|4306503420|       02-10-2012|  Handpone|        6225011|
| Annette|omendez@estes-rey...| 200|2519948005|       16-03-2003|    Laptop|        5734109|
|    Jose|lindseycollins(at...| 200|4718948795|       07/07/2021|Smartwatch|        6713101|
+--------+--------------------+----+----------+-----------------+----------+---------------+
only showing top 20 rows

In [34]:
df_clean.write.csv('cleaned_data.csv', header=True, mode='overwrite')

In [35]:
import os
os.listdir('cleaned_data.csv')

['part-00000-6a8adbf0-d94f-4f98-bc90-a4e6cfab5ff3-c000.csv',
 '.part-00000-6a8adbf0-d94f-4f98-bc90-a4e6cfab5ff3-c000.csv.crc',
 '._SUCCESS.crc',
 '_SUCCESS']

In [36]:
df_result = spark.read.csv('cleaned_data.csv', header=True, inferSchema=True)
df_result.show()

+--------+--------------------+----+----------+-----------------+----------+---------------+
|    Nama|               Email|Umur|Pendapatan|Tanggal Pembelian|    Produk|Nilai Transaksi|
+--------+--------------------+----+----------+-----------------+----------+---------------+
| timothy|johnsonmegan@gmai...| 200|3140485039|       03/09/2003|    Laptop|         506622|
|    mike|owensrobert@hotma...|  59|3741985672|       11/28/2004|    Laptop|        7711290|
|madeline|martinezmario@gma...| 200|3200189219|       12/05/1979|Smartwatch|        1908029|
| raymond|santiagoscott(at)...| 200|2866365700|       07/18/1993|Smartwatch|        6530558|
|benjamin|brittanygreen@mar...| 200|4075982395|       17-02-1982|    Tablet|        9067792|
|  leslie|maysannette@gmail...| 200|   8372468|       09/13/1981|Smartwatch|        4957082|
| cynthia|lonnieandrews@cis...|  49|   5139026|       02/10/2000|   Tablett|        2393089|
|  debbie| allison19@yahoo.com|  41|4974434132|       24-04-1982|Headphonee|        7488725|
|  rachel|jjenkins@osborne....|  66|   6422484|       02-08-1993| Smartwach|        5974942|
|    sean|ronald86(at)email...|  43|   7309258|       09/21/2020|    Laptop|        6997815|
|  amanda|melissa50@hotmail...|  45|   4765981|       13-06-2014|Smartwatch|        2110772|
|  robert| jason16@hotmail.com|  31|   6167831|       05/31/1972| Handphone|        4166003|
|     roy|    psmith@gmail.com| 200|   7372475|       02/10/1994|Headphonee|         808089|
|   james|angela86@hernande...|  21|1750047896|       07/07/1970|    Laptop|        8695785|
|   april|danny11@ruiz-mart...| 200|4947285884|       08/31/1978|  Handpone|        6617945|
|  robert|hinessamantha@gma...| 200|4906271009|       21-12-2000| Handphone|        3938680|
|   aaron|scottjacqueline@l...|  49|3087774620|       08/20/1983|    Laptop|        6703858|
|  sydney|thomaskrause@mart...|  24|4306503420|       02-10-2012|  Handpone|        6225011|
| annette|omendez@estes-rey...| 200|2519948005|       16-03-2003|    Laptop|        5734109|
|    jose|lindseycollins(at...| 200|4718948795|       07/07/2021|Smartwatch|        6713101|
+--------+--------------------+----+----------+-----------------+----------+---------------+
only showing top 20 rows

In [38]:
import pandas as pd
import glob

# Gunakan glob untuk cari semua file part CSV
file_list = glob.glob("cleaned_data.csv/part-*.csv")

# Gabungkan semua file CSV menjadi satu dataframe pandas
df_list = [pd.read_csv(file) for file in file_list]
df_pd = pd.concat(df_list, ignore_index=True)

# Simpan sebagai file tunggal
df_pd.to_csv("cleaned_data_final.csv", index=False)

In [39]:
from google.colab import files
files.download("cleaned_data_final.csv")