<a href="https://colab.research.google.com/github/karimahagstn/latihan_1/blob/main/DDL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
import pandas as pd

In [2]:
# Connect to SQLite database
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

# Create Students table
cursor.execute('''
CREATE TABLE Students (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER NOT NULL
);
''')

# Create Courses table
cursor.execute('''
CREATE TABLE Courses (
    id INTEGER PRIMARY KEY,
    title TEXT NOT NULL,
    credits INTEGER NOT NULL
);
''')

# Create Enrollments table
cursor.execute('''
CREATE TABLE Enrollments (
    student_id INTEGER,
    course_id INTEGER,
    FOREIGN KEY (student_id) REFERENCES Students(id),
    FOREIGN KEY (course_id) REFERENCES Courses(id)
);
''')

# Commit the changes
conn.commit()

In [3]:
# Insert data into Students
students_data = [
    ('Alice', 20),
    ('Bob', 22),
    ('Charlie', 21),
    ('David', 23),
    ('Eva', 19)
]
cursor.executemany('INSERT INTO Students (name, age) VALUES (?, ?);', students_data)

# Insert data into Courses
courses_data = [
    ('Mathematics', 3),
    ('Physics', 4),
    ('Chemistry', 3)
]
cursor.executemany('INSERT INTO Courses (title, credits) VALUES (?, ?);', courses_data)

# Insert data into Enrollments
enrollments_data = [
    (1, 1),
    (1, 2),
    (2, 1),
    (3, 3),
    (4, 2)
]
cursor.executemany('INSERT INTO Enrollments (student_id, course_id) VALUES (?, ?);', enrollments_data)

# Commit the changes
conn.commit()

In [4]:
# Read data from Students
students_df = pd.read_sql_query('SELECT * FROM Students;', conn)
print("Students:\n", students_df)

# Read data from Courses
courses_df = pd.read_sql_query('SELECT * FROM Courses;', conn)
print("\nCourses:\n", courses_df)

# Read data from Enrollments
enrollments_df = pd.read_sql_query('SELECT * FROM Enrollments;', conn)
print("\nEnrollments:\n", enrollments_df)

Students:
    id     name  age
0   1    Alice   20
1   2      Bob   22
2   3  Charlie   21
3   4    David   23
4   5      Eva   19

Courses:
    id        title  credits
0   1  Mathematics        3
1   2      Physics        4
2   3    Chemistry        3

Enrollments:
    student_id  course_id
0           1          1
1           1          2
2           2          1
3           3          3
4           4          2

In [5]:
# Close the connection
conn.close()